<div ng-controller="FormCtrl" layout="column">
  <div flex></br>
  	<div class="field">
	  	<div class="two fields">
			<div class="field">
				<h4 class="ui dividing header">Underwriter name (optional)</h4>
				<input type="text" name="underwriter_name" ng-model="underwriter" placeholder="ex: Katie Adler">
		</div>
	</div>
    <h4 class="ui dividing header">Types of entries you'd like to view (required)</h4>
		<form class="ui form">
		
			<label>
	        <input type="radio" ng-model="type" value="1">   Submissions to review</input>
	    </label></br>
	    <label>
	        <input type="radio" ng-model="type" value="2">   Policies</input>
	    </label>
		  <center><div class="ui green button" tabindex="0" ng-click="search(type)">Search</div></center>
		</form>
  </div>
</div>
